@import "../css/reset"
//@import "../libs/bootstrap/bootstrap-grid.min"
@import "../sass/fonts.sass"
@import "../sass/media.sass"

$pbw: 1180px // Базовая ширина страницы
$accent-color: #58b400 // Ацкентный цвет
$dark-grey: #474a5c // Темно-серый цвет

/*body
	box-sizing: content-box
	width: $page-basic-width
	padding: auto*/

.page-header
	background-color: $dark-grey
	height: 100vh
	display: flex
	flex-direction: column

.top-line
	background-color: #2f313d
	min-height: 105px
	display: flex
	justify-content: center

.top-line-content
	width: $pbw
	display: flex
	align-items: center

.top-logo
	//margin-right: auto

.top-navigation
	//margin-left: auto
	font:
		family: 'Lato'
		weight: bold
		size: 14px
	ul
		display: flex
		align-items: center
		li
			display: inline-block
			text-transform: uppercase
			margin-right: 15px
			&:last-child
				margin-right: 0
			a
				text-decoration: none
				color: #fff
				&:hover
					color: #58b400

.rounded-image-wrapper
	background-color: #82838b
	border-radius: 100%
	height: 63px
	width: 63px
	display: flex
	justify-content: center
	align-items: center
	&:hover
		background-color: #58b400
	.rounded-image
		display: inline-block
		height: 55px
		width: 55px
		border-radius: 100%
		background:
			image: url('../img/portrait.jpg')
			size: cover
			position-x: center
		a
			display: block
			height: 100%
			weight: 100%

.slide
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	margin:
		top: auto
		bottom: auto
	a
		margin:
			top: 40px
			bottom: 20px
		padding: 20px
		text-transform: uppercase
		text-decoration: none
		color: #fff
		font:
			family: 'Open Sans'
			size: 24px
		border:
			style: solid
			radius: 4px
			width: 3px
		&:hover
			color: $accent-color

.user-name
	a
		color: $accent-color !important

.main-menu 
	margin:
		left: auto
		right: 50px

.capabilities
	min-height: 700px
	background: linear-gradient(-2deg, #fff 10%, $accent-color 10%, $accent-color 90%, $dark-grey 90%)

.hamburger
	color: #fff
	z-index: 10
	margin:
		left: auto
		right: auto

.mobile-menu
	&-active
		transform: translatey(0%) !important;
	top: 0
	left: 0
	height: 100vh
	width: 100%
	position: fixed
	display: flex
	justify-content: center
	align-items: center
	background: rgba(71, 74, 92, 0.9)
	z-index: 5
	flex-direction: column
	transform: translatey(-100%)
	transition: 0.3s
	ul
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		li
			width: 100%
			padding:
				top: 12px
				bottom: 12px
			text-align: center
			&:hover
				background: rgba(88, 180, 0, 0.7)
	a
		color: #fff
		text-decoration: none
		text-transform: uppercase
		font:
			family: 'Lato'
			weight: bold
			size: 24px