@import "../css/reset"
//@import "../libs/bootstrap/bootstrap-grid.min"
@import "../sass/fonts.sass"

$pbw: 1180px // Базовая ширина страницы
$accent-color: #58b400 // Ацкентный цвет

/*body
	box-sizing: content-box
	width: $page-basic-width
	padding: auto*/

.page-header 
	background-color: #474a5c
	height: 100vh
	display: flex
	flex-direction: column

.top-line
	background-color: #2f313d
	min-height: 105px
	display: flex
	justify-content: center

.top-line-content
	width: $pbw
	display: flex
	align-items: center

.top-logo
	margin-right: auto

.top-navigation
	margin-left: auto
	font:
		family: 'Lato'
		weight: bold
		size: 14px
	ul
		display: flex
		align-items: center
		li
			display: inline
			text-transform: uppercase
			margin-right: 15px
			&:last-child
				margin-right: 0
			a
				text-decoration: none
				color: #fff
				&:hover
					color: #58b400

.rounded-image-wrapper
	background-color: #82838b
	border-radius: 100%
	height: 63px
	width: 63px
	display: flex
	justify-content: center
	align-items: center
	&:hover
		background-color: #58b400
	.rounded-image
		display: inline-block
		height: 55px
		width: 55px
		border-radius: 100%
		background:
			image: url('../img/portrait.jpg')
			size: cover
			position-x: center
		a
			display: block
			height: 100%
			weight: 100%

.slide
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	margin:
		top: auto
		bottom: auto
	a
		margin-top: 100px
		margin-bottom: 50px
		padding: 20px
		text-transform: uppercase
		text-decoration: none
		color: #fff
		font:
			family: 'Open Sans'
			size: 24px
		border:
			style: solid
			radius: 4px
			width: 3px
		&:hover
			color: $accent-color
