@import "../css/reset"
//@import "../libs/bootstrap/bootstrap-grid.min"
@import "../sass/media.sass"
@import "../sass/base-settings.sass"
@import "../sass/mixins.scss"

/*body
	box-sizing: content-box
	width: $page-basic-width
	padding: auto*/

.page-header
	background-color: $dark-grey
	height: 100vh
	display: flex
	flex-direction: column

.top-line
	background-color: $very-dark-grey
	min-height: 105px
	display: flex
	justify-content: center
	.content
		display: flex
		align-items: center

.top-logo
	//margin-right: auto

.top-navigation
	//margin-left: auto
	font:
		family: 'Lato'
		weight: bold
		size: 14px
	ul
		display: flex
		align-items: center
		li
			display: inline-block
			text-transform: uppercase
			margin-right: 15px
			&:last-child
				margin-right: 0
			a
				text-decoration: none
				color: #fff
				&:hover
					color: #58b400

.rounded-image-wrapper
	background-color: #82838b
	border-radius: 100%
	height: 63px
	width: 63px
	display: flex
	justify-content: center
	align-items: center
	&:hover
		background-color: $accent-color
	.rounded-image
		box-shadow: inset 9px -4px 210px 41px rgba(71,74,92,0.3)
		opacity: 1
		display: inline-block
		height: 55px
		width: 55px
		border-radius: 100%
		background:
			size: cover
			position-x: center
		a
			display: block
			height: 100%
			weight: 100%

.slide
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	margin:
		top: auto
		bottom: auto
	a
		margin:
			top: 40px
			bottom: 20px
		padding: 20px
		text-transform: uppercase
		text-decoration: none
		color: #fff
		font:
			family: 'Open Sans'
			size: 24px
		border:
			style: solid
			radius: 4px
			width: 3px
		&:hover
			color: $accent-color

.user-name
	a
		color: $accent-color !important

.main-menu 
	margin:
		left: auto
		right: 50px

.capabilities
	display: flex
	min-height: 420px
	background-color: $accent-color
	.content
		display: flex
		align-content: center
		color: #fff
		max-height: 20%
		margin:
			top: 50px
			bottom: 50px
		.item
			flex-grow: 1
			max-width: 320px
			min-height: 200px
			text-align: center
			&:nth-child(2)
				margin:
					right: 120px
					left: 120px
			h3
				text-transform: uppercase
				font:
					family: 'Myriad Pro'
					weight: bold
					size: 18px
				margin:
					top: 20px
			.item-separator
				display: block
				width: 100px
				border:
					bottom: 
						width: 1px
						style: solid
						color: #fff
				margin:
					bottom: 20px
					left: auto
					right: auto
					top: auto

			p
				font:
					family: 'Myriad Pro'
					weight: normal
					size: 16px
				letter-spacing: 0.1em
			.item-more
				display: inline-block
				margin-top: 20px
				padding: 
					top: 15px
					bottom: 15px
					left: 10px
					right: 10px
				text-transform: uppercase
				text-decoration: none
				color: #fff
				font:
					family: 'Open Sans'
					size: 16px
				border:
					style: solid
					radius: 4px
					width: 3px
				&:hover
					background: rgba(255, 255, 255, 0.2)

.content
	width: $pbw
	margin:
		left: auto
		right: auto

.hamburger
	color: #fff
	z-index: 10
	margin:
		left: auto
		right: auto

.mobile-menu
	&-active
		transform: translatey(0%) !important;
	top: 0
	left: 0
	height: 100vh
	width: 100%
	position: fixed
	display: flex
	justify-content: center
	align-items: center
	background: rgba(71, 74, 92, 0.9)
	z-index: 5
	flex-direction: column
	transform: translatey(-100%)
	transition: 0.3s
	ul
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		li
			width: 100%
			padding:
				top: 12px
				bottom: 12px
			text-align: center
			&:hover
				background: rgba(88, 180, 0, 0.7)
	a
		color: #fff
		text-decoration: none
		text-transform: uppercase
		font:
			family: 'Lato'
			weight: bold
			size: 24px

.catalog
	background-color: #f7f7f7
	padding:
		top: 60px
		bottom: 60px
	.content
		display: flex
		flex-direction: column
		max-width: 100%
		h2
			display: inline-block
			margin:
				left: auto
				right: auto
			font:
				family: 'Open Sans'
				size: 38px
				weight: bold
			letter-spacing: 3px
			margin-bottom: 20px
			text-transform: uppercase
			color: #2f313d
			border:
					bottom: 
						width: 2px
						style: solid
						color: #2f313d
			padding-bottom: 20px
		.fullwidth-menu
			display: flex
			justify-content: center
			ul
				li
					display: inline-block
					margin-left: 25px
					a
						color: #000
						text-decoration: none
						font: 
							family: 'Myriad Pro'
							font-weight: normal
							size: 25px
						&:hover
							color: $accent-color
		.categories
			.cat
				&>h3
					color: $accent-color
					margin-top: 50px
					text-align: center
					font:
						family: 'Open Sans'
						size: 38px
						weight: bold
			margin-top: 30px
			.items
				display: flex
				flex-wrap: wrap
				.item
					margin-top: 40px
					width: 33%
					.product-pic
						margin: auto
						max-width: 250px
						height: 200px
						background:
							repeat: no-repeat
							size: contain
							position-x: center
						a
							display: block
							height: 100%
							weight: 100%
					h3
						max-width: 250px
						text-align: center
						margin:
							top: 20px
							left: auto
							right: auto
						font:
							family: 'Myriad Pro'
							weight: normal
							size: 18px
					span
						margin-top: 5px
						display: inline-block
						width: 100%
						text-align: center
						font:
							family: 'Myriad Pro'
							weight: bold
							size: 26px
	.show-full-catalog
		display: inline-block
		margin:
			top: 60px
			bottom: 20px
			left: auto
			right: auto
		padding: 20px
		text-transform: uppercase
		text-decoration: none
		color: $dark-grey
		font:
			family: 'Open Sans'
			size: 24px
		border:
			style: solid
			radius: 4px
			width: 3px
		&:hover
			color: $accent-color

.about
	background-color: $very-dark-grey
	.content
		padding:
			top: 40px
			bottom: 40px
		max-width: 100%
		color: #fff
		h2
			text-align: center
			font:
				family: 'Open Sans'
				size: 38px
		article
			margin-top: 40px
			font:
				family: 'Myriad Pro'
				weight: normal
				size: 16px
			line-height: 25px
			letter-spacing: 0.1em
			column-count: 2
			column-gap: 73px
			column-width: 550px
			p
				margin-top: 40px
				&:first-child
					margin-top: 0px

.accent-text-color
	color: $accent-color !important

.cat
	height: auto

.private-ads
	padding-top: 150px
	background-color: $very-light-grey
	min-height: 300px
	.content
		display: flex
		justify-content: space-between
		.iphone-ads
			width: 45%
			background: 
				image: url('../img/iphone.png');
				size: cover
				position-x: center
			height: 700px
		.private-ads-text
			width: 45%
			h2
				font:
					family: 'Open Sans'
					font-weight: bold
					size: 30px
			p
				letter-spacing: 0.05em
				line-height: 25px
				margin-top: 30px
				font:
					family: 'Myriad Pro'
					font-weight: normal
					size: 16px

.footer-links
	background-color: $very-dark-grey
	min-height: 500px

.copyrights
	padding: 
		top: 50px
		bottom: 25px
	background-color: $accent-color
	.content
		font:
			family: 'Lato'
			size: 14px
		text-align: right
		letter-spacing: 0.07em
		color: $very-dark-grey
		a
			text-decoration: none
			color: $very-light-grey
			&:hover
				text-decoration: underline

